.textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
  background-color: var(--foreground);
  border: 1px solid var(--overlay);
  outline: none;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  color: var(--text);
}

.textarea.mono {
  font-family: var(--font-mono) !important;
}
